.particle-network-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height:485px;
  background-color: #3ba99e;
  background-color: #3ba99e;
  background-image: url('../img/bg_aurora.jpg');
  background-position: center center;
  background-size: cover;
}
.particle-network-animation::before {
  z-index: -2;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}
